
body{

	margin : 0px;
}
nav{

	background: #F83C64;
	width: 100%;
	height: 68px;
	position: fixed;
	z-index: 8;


	

	



}

ul{
	display: flex;
	margin: 0px;
	width: 100%;
	list-style: none;
	height: 68px;

	
	
	
	

}

li{
	flex: auto ;
}

.swap{

	height: 68px;
	display: flex;
	justify-content: center;
	align-items: center;


}

.menu{

	color : #F9F7F7;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 1em


}

.titre{

	color : white ;
	font-family: 'Oswald', cursive;
	position: relative;
	top:-8%;
	left: 1%;
	font-size: 1.8em;
	font-weight: bold;


}

#photo_principal{

	width: 100%;
	height: 600px;
	background: url(bourg.png) center 0 no-repeat fixed;
	background-size: cover;

}


#principal{

	width: 100%;
	height:800px;
	background: #FFF8DE fixed;

}


#actu{

	color: #071F32;
	font-size: 3.4rem;
	margin : 0px;
	position: relative;
	top : 20px;
	left: 15%;
	font-family: 'Montserrat', sans-serif;
	margin-bottom : 70px;
}

